{% extends 'base.html.twig' %}


{% block title %}Créer une sortie

{% endblock %}

{% block body %}

    <script>
        window.onload = init ;
    </script>

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">

        {% if (modif is defined and event.place is not null ) %}
            <input type="hidden" name="oldPlaceId" id="oldPlaceId" value="{{ event.place.id }}">
            <input type="hidden" name="oldCityId" id="oldCityId" value="{{ event.place.city.id }}">
            <h6 class="display-6 fw-normal">Modifier une sortie</h6>
        {% else %}
            <input type="hidden" name="oldPlaceId" id="oldPlaceId" value="0">
            <input type="hidden" name="oldPlaceId" id="oldPlaceId" value="0">
            <h6 class="display-6 fw-normal">Créer une sortie</h6>
        {% endif %}
    </div>


    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100">

                    {{ form_start(eventForm) }}
                    <div>{{ form_row((eventForm.name)) }}</div>
                    <div>{{ form_row((eventForm.dateTimeStart)) }}</div>
                    <div>{{ form_row((eventForm.registrationDeadline)) }}</div>
                        <code>COVID 19 - Les rassemblements de plus de 6 personnes sont interdits</code>
                    <div>{{ form_row((eventForm.maxNumberParticipants)) }}</div>
                    <div>{{ form_row((eventForm.duration)) }}</div>
                    <div>{{ form_row((eventForm.description)) }}</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class='h-100'>
                    <div>{{ form_row((eventForm.campus)) }}</div>
                    <div>{{ form_row((eventForm.city)) }}</div> {# <select id="event_city" #}

                    <div class="group">
                        <label for="{{ field_name(eventForm.place) }}">{{ form_label(eventForm.place)}} </label>
                        <select required=required name="{{ field_name(eventForm.place) }}"  id="{{ field_name(eventForm.place) }}" class="form-control">
                        </select>
                        {{ form_errors(eventForm.place)}}
                    </div>

                    <div>
                        <div>
                            <label class="mt-3">Adresse </label>
                            <div id="streetPlace"></div>
                        </div>
                        <div>
                            <label>Latitude </label>
                            <div id="latitudePlace"></div>
                        </div>
                        <div>
                            <label>Longitude </label>
                            <div id="longitudePlace"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg">
                    {{ form_row(eventForm.save) }}
                </div>
                <div class="col-lg">
                    {{ form_row(eventForm.submit) }}
                    {{ form_end(eventForm) }}
                </div>
                {% if (modif is defined) %}
                    <div class="col-lg">
                        <a href="{{ path('event_cancelled', {id:event.id}) }}">
                            <button class="btn-success btn mt-2">Supprimer la sortie</button>
                        </a>
                    </div>
                {% endif %}
                <div class="col-lg">
                    <a href="{{ path('main') }}">
                        <button class="btn-success btn mt-2">Annuler</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script>
        updatePlaceField();
    </script>

    {# Formulaire à décommenter pour pouvoir ajouter un nouveau lieu
    {{ form_start(placeForm) }}
    {{ form_row((placeForm.name)) }}
    {{ form_row((placeForm.street)) }}
    {{ form_row ((placeForm.city )) }}
    {{ form_row((placeForm.latitude)) }}
    {{ form_row((placeForm.longitude)) }}
    {{ form_row(((placeForm.submit))) }}
    {{ form_end(placeForm) }} #}

{% endblock %}

