{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    <section id="information" class="container">
        <div>
            <p>Date du jour : <span> {{ "now"|date("m/d/Y") }}</span></p>
        </div>
        <div>
            <p>Participant : <span> {{ app.user.firstName }}</span></p>
            {# <span> {{ app.user.firstName }}</span> #}
        </div>
    </section>
<div class="card mb-6">
    <div class="card-header bg-primary text-white">
        <i class="fas fa-table mr-5"></i>
        Filtrer les sorties
    </div>
    <section id="FiltreRecherche " class="container mt-2">
        {{ form_start(searchForm) }}
            <div class="row align-items-start">

                <article class="col-6">
                    <div class = "group">
                        <span>{{ form_label(searchForm.campus)}}</span>
                        <span>{{ form_widget(searchForm.campus)}}</span>
                        {{ form_errors(searchForm.campus)}}
                    </div>
                    <div >
                        <label class="mt-2" for="{{ field_name(searchForm.searchBar) }}">Le nom de la sortie contient :</label>
                        <input type="search"
                               class="form-control"
                               id="{{ field_name(searchForm.searchBar) }}"
                               name="{{ field_name(searchForm.searchBar) }}"
                               value="{{ field_value(searchForm.searchBar) }}"
                        >
                    </div>
                    <div class = "group mt-2">
                        <span class ="group">
                            <label for="{{ field_name(searchForm.dateStart) }}">Entre le </label>
                            <input type="date"
                                   id="{{ field_name(searchForm.dateStart) }}"
                                   name="{{ field_name(searchForm.dateStart) }}"
                                   value="{{ field_value(searchForm.dateStart) }}"
                                   class="form-control"
                            >
                            <label for="{{ field_name(searchForm.dateEnd) }}"> et le </label>
                            <input type="date"
                                   id="{{ field_name(searchForm.dateEnd) }}"
                                   name="{{ field_name(searchForm.dateEnd) }}"
                                   value="{{ field_value(searchForm.dateEnd) }}"
                                   class="form-control"
                            >
                        </span>
                    </div>

                </article>
                <article class="col-4">
                    <div>
                        {{ form_row(searchForm.isOrganisedByMe)}}
                    </div>
                    <div>
                        {{ form_row(searchForm.isAttendedByMe)}}
                    </div>
                    <div>
                        {{ form_row(searchForm.isNotAttendedByMe) }}
                    </div>
                    <div>
                        {{ form_row(searchForm.isFinished) }}
                    </div>
                </article>
                <article class="col-2">
                    <a href="{{ path('event_creation') }}">
                        <button type="submit" class="btn-primary btn mt-4">Rechercher</button>
                    </a>
                </article>

            </div>
        {{ form_end(searchForm) }}
    </section>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100" cellspacing="0">
                <thead>
                <tr class="text-center text-white bg-primary">
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>Inscrits/places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tfoot>
                {% for eventLine in eventLines %}
                    {% if eventLine.event.organiser.pseudo is same as app.user.pseudo %}
                            <tr class="text-center text-danger bg-light">
                    {% else %}
                            <tr class="text-center bg-light">
                    {% endif %}


                    <th>{{ eventLine.event.name }}</th>
                    <th>{{ eventLine.event.dateTimeStart | date('d-m-Y H:i:s') }}</th>
                    <th>{{ eventLine.event.registrationDeadline | date('d-m-Y H:i:s') }}</th>
                    <th>{{ eventLine.nbRegistered }}/{{ eventLine.event.maxNumberParticipants }}</th>
                    <th>{{ eventLine.event.status.name }}</th>
                    <th>
                        {%  if eventLine.isRegistered %}
                        <span class="icon mr-1"><i class="fas fa-user-check"></i></span>
                        {% endif %}
                    </th>
                    <th> {% if eventLine.event.organiser.pseudo is same as app.user.pseudo %}
                        <i class="fas fa-user-shield"></i> {{ eventLine.event.organiser.pseudo }}</th>
                         {% else %}
                             {{ eventLine.event.organiser.pseudo }}
                    {% endif %}
                    <th>   {% set nbLinks = eventLine.links|length - 1 %}
                        {% for i in 0..nbLinks %}
                            {% if ( i > 0 ) %}
                                <span> - </span>
                            {% endif %}
                            <a href="{{ path(eventLine.links[i][1],{'id':eventLine.event.id}) }}"> {{ eventLine.links[i][0] }}</a>
                        {% endfor %}</th>
                </tr>
                {% endfor %}
                </tfoot>
                </tbody>
            </table>
        </div>
    </div>

    <section id="EventsList" class="container">
        <div id="EventsListHeaders" name="EventsListHeaders" class="row align-items-start  m-0 p-0 border">
            <article class="col-2 text-center text-wrap m-0 p-0 ">
                <p>Nom de la sortie</p>
            </article>
            <article class="col text-center text-wrap m-0 p-0 border-start border-end border-end">
                <p>Date de la sortie</p>
            </article>
            <article class="col text-center text-wrap m-0 p-0 border-start border-end">
                <p>Clôture</p>
            </article>
            <article class="col text-center text-wrap m-0 p-0 border-start border-end">
                <p>Inscrits/Places</p>
            </article>
            <article class="col text-center text-wrap m-0 p-0 border-start border-end">
                <p>Etat</p>
            </article>
            <article class="col text-center text-wrap m-0 p-0 border-start border-end">
                <p>Inscrit</p>
            </article>
            <article class="col text-center text-wrap m-0 p-0 border-start border-end">
                <p>Organisateur</p>
            </article>
            <article class="col text-center text-wrap m-0 p-0 border-start border-end">
                <p>Actions</p>
            </article>
        </div>
        <ul id="EventsListContent" name="EventsListContent" class="list-group m-0 p-0">

            {# remplir avec les events #}
            {% for eventLine in eventLines %}

                <li class="list-group-item m-0 p-0">
                    <div class="row m-0 p-0">
                        <article id="eventName" class="col-2 text-center text-wrap m-0 p-0 border-start border-end">
                            <p>{{ eventLine.event.name }}</p>
                        </article>
                        <article id="eventDateStart" class="col text-center text-wrap m-0 p-0 border-start border-end">
                            <p>{{ eventLine.event.dateTimeStart | date('d-m-Y H:i:s') }}</p>
                        </article>
                        <article id="eventDateEnd" class="col text-center text-wrap m-0 p-0 border-start border-end">
                            <p>{{ eventLine.event.registrationDeadline | date('d-m-Y H:i:s') }}</p>
                        </article>
                        <article id="eventNbRegisteredNbParticipants" class="col text-center text-wrap m-0 p-0 border-start border-end">
                            <p>{{ eventLine.nbRegistered }}/{{ eventLine.event.maxNumberParticipants }}</p>
                        </article>
                        <article id="eventStatusName" class="col text-center text-wrap m-0 p-0 border-start border-end">
                            <p>{{ eventLine.event.status.name }}</p>
                        </article>
                        <article id="eventUserIsRegistered" class="col text-center text-wrap m-0 p-0 border-start border-end">
                            <p>{{ eventLine.isRegistered }}</p>
                        </article>
                        <article id="eventOrganiserUsername" class="col text-center text-wrap m-0 p-0 border-start border-end">
                            <p>{{ eventLine.event.organiser.pseudo }}</p>
                        </article>
                        <article id="eventLinks" class="col text-center text-wrap m-0 p-0 border-start border-end">
                            <p>
                                {% set nbLinks = eventLine.links|length - 1 %}
                                {% for i in 0..nbLinks %}
                                    {% if ( i > 0 ) %}
                                        <span> - </span>
                                    {% endif %}
                                    <a href="{{ path(eventLine.links[i][1],{'id':eventLine.event.id}) }}"> {{ eventLine.links[i][0] }}</a>
                                {% endfor %}
                            </p>
                        </article>
                    </div>
                </li>
            {% endfor %}

        </ul>
    </section>
    <section id="CreateEvent" class="container">
        <a href="{{ path('event_creation') }}">
            <button class="btn-success btn mt-2">Créer une sortie</button>
        </a>
    </section>
{% endblock %}
