{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <section id="information" class="container">
        <div>
            <p>Date du jour : <span> {{ "now"|date("m/d/Y") }}</span></p>
        </div>
        <div>
            <p>Participant : <span> {{ app.user.firstName }}</span></p>
            {# <span> {{ app.user.firstName }}</span> #}
        </div>
    </section>
    <section id="FiltreRecherche" class="container">
        <h4>Filtrer les sorties</h4>
        {{ form_start(searchForm) }}
            <div class="row align-items-start">

                <article class="col-6">
                    <div class = "group">
                        <span>{{ form_label(searchForm.campus)}}</span>
                        <span>{{ form_widget(searchForm.campus)}}</span>
                        {{ form_errors(searchForm.campus)}}
                    </div>
                    <div >
                        <label for="{{ field_name(searchForm.searchBar) }}">Le nom de la sortie contient :</label>
                        <input type="search"
                               id="{{ field_name(searchForm.searchBar) }}"
                               name="{{ field_name(searchForm.searchBar) }}"
                               value="{{ field_value(searchForm.searchBar) }}"
                        >
                    </div>
                    <div class = "group">
                        <span class = "group">
                            <label for="{{ field_name(searchForm.dateStart) }}">Entre le </label>
                            <input type="date"
                                   id="{{ field_name(searchForm.dateStart) }}"
                                   name="{{ field_name(searchForm.dateStart) }}"
                                   value="{{ field_value(searchForm.dateStart) }}"
                            >
                        </span>
                        <span class = "group">
                            <label for="{{ field_name(searchForm.dateEnd) }}"> et le </label>
                            <input type="date"
                                   id="{{ field_name(searchForm.dateEnd) }}"
                                   name="{{ field_name(searchForm.dateEnd) }}"
                                   value="{{ field_value(searchForm.dateEnd) }}"
                            >
                        </span>
                    </div>

                </article>
                <article class="col-4">
                    <div>
                        {{ form_row(searchForm.isOrganisedByMe)}}
                    </div>
                    <div>
                        {{ form_row(searchForm.isAttendedByMe)}}
                    </div>
                    <div>
                        {{ form_row(searchForm.isNotAttendedByMe) }}
                    </div>
                    <div>
                        {{ form_row(searchForm.isFinished) }}
                    </div>
                </article>
                <article class="col-2">
                    <input type="submit" value="Rechercher">
                </article>

            </div>
        {{ form_end(searchForm) }}
    </section>
    <section id="EventsList" class="container">
        <div id="EventsListHeaders" name="EventsListHeaders" class="row align-items-start  m-0 p-0 border">
            <article class="col text-center text-wrap">
                <p>Nom de la sortie</p>
            </article>
            <article class="col-2 text-center text-wrap">
                <p>Date de la sortie</p>
            </article>
            <article class="col text-center text-wrap">
                <p>Clôture</p>
            </article>
            <article class="col text-center text-wrap">
                <p>Inscrits/Places</p>
            </article>
            <article class="col text-center text-wrap">
                <p>Etat</p>
            </article>
            <article class="col text-center text-wrap">
                <p>Inscrit</p>
            </article>
            <article class="col text-center text-wrap">
                <p>Organisateur</p>
            </article>
            <article class="col text-center text-wrap">
                <p>Actions</p>
            </article>
        </div>
        <ul id="EventsListContent" name="EventsListContent" class="list-group m-0 p-0">

            {# remplir avec les events #}
            {% for eventLine in eventLines %}

                <li class="list-group-item m-0 p-0">
                    <div class="row align-items-start m-0 p-0">
                        <article id="eventName" class="col-2 text-center text-wrap m-0 p-0 border-start">
                            <p>{{ eventLine.event.name }}</p>
                        </article>
                        <article id="eventDateStart" class="col text-center text-wrap m-0 p-0 border-start">
                            <p>{{ eventLine.event.dateTimeStart | date("d/m/Y h:i") }}</p>
                        </article>
                        <article id="eventDateEnd" class="col text-center text-wrap m-0 p-0 border-start">
                            <p>{{ eventLine.event.dateTimeEnd | date("d/m/Y") }}</p>
                        </article>
                        <article id="eventNbRegisteredNbParticipants" class="col text-center text-wrap m-0 p-0 border-start">
                            <p>{{ eventLine.nbRegistered }}/{{ eventLine.event.maxNumberParticipants }}</p>
                        </article>
                        <article id="eventStatusName" class="col text-center text-wrap m-0 p-0 border-start">
                            <p>{{ eventLine.event.status.name }}</p>
                        </article>
                        <article id="eventUserIsRegistered" class="col text-center text-wrap m-0 p-0 border-start">
                            <p>{{ eventLine.isRegistered }}</p>
                        </article>
                        <article id="eventOrganiserUsername" class="col text-center text-wrap m-0 p-0 border-start">
                            <p>{{ eventLine.event.organiser.pseudo }}</p>
                        </article>
                        <article id="eventLinks" class="col text-center text-wrap m-0 p-0 border-start">
                            <p>
                                {% set nbLinks = eventLine.links|length - 1 %}
                                {% for i in 0..nbLinks %}
                                    {% if ( i > 0 ) %}
                                        <span> - </span>
                                    {% endif %}
                                    <a href="{{ path(eventLine.links[i][1],{'id':eventLine.event.id}) }}"> {{ eventLine.links[i][0] }}</a>
                                {% endfor %}

                            </p>
                        </article>
                    </div>
                </li>
            {% endfor %}

        </ul>
    </section>
    <section id="CreateEvent" class="container">
        <input type="button" value="Créer une sortie">
    </section>
{% endblock %}
